.page{width:800px;margin:0 auto;background-color:#fff;min-height: 1000px}



#editor{min-height: 500px;
    .ql-editor{min-height: 500px;}
}
.ql-toolbar{border: 1px solid #ccc;position: sticky !important; top:0;background-color: #fff;z-index: 100 !important;}
.editor-container{padding: 12px 16px;border: 1px solid #ccc;}